

.home-body {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    margin: 0px 15%;
}

.home-body h1 {
    color: rgb(39, 35, 35);
    font-size: 3rem;
    font-family: 'Julius Sans One', sans-serif;
    margin: 40px;
}

.home-body h3 {
    font-size: 2rem;
    color: rgb(140,147,156);
    margin: 30px;
}

.home-body h4 {
    font-size: 1.3rem;
}

.main-pic {
    width: 850px;
    height: 500px;
    border: 1px solid rgb(214, 222, 233);
    border-radius: 10px;
    margin: 30px auto 20px;
    transition: ease-in 1s;
}

.start-btn {
    text-decoration: none;
    color: rgb(15, 119, 223);
    border: 2px solid rgb(54, 150, 249);
    border-radius: 20px;
    box-shadow: 3px 5px rgb(54, 150, 249);
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 20px;
    width: 500px;
}

.start-btn:focus {
    box-shadow: none;
    transform: translateY(3px);
}

.start-btn:hover {
    cursor: pointer;
}

.features-grid img {
    width: 40px;
    height: 40px;
}

.features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    text-align: center;
    margin: 60px;
}

.features-grid p {
    color: rgb(140,147,156)
}

.features-grid .div {
    padding: 100px;
}

.features-grid h4 {
    margin: 15px auto;
}

