/* universal */
:root {
  --primary-color: #97f9f9ff;
  --secondary-color: #c59fc9ff;
  --tertiary-color: #a4def9ff;
  --quaternary-color: #c1e0f7ff;
  --quinary-color: #cfbae1ff;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Layout */

/* Navigation */
.nav-bar {
  background-color: var(--secondary-color);
}

.logo {
  margin: 15px 750px 10px 0;
  padding-left: 50px;
  font-size: 40px;
}

.nav-bar a {
  text-decoration: none;
  color: #ffffff;
}

.nav-bar-item {
  list-style: none;
  margin: 20px 100px 20px 0;
  font-size: 30px;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
}

/* Footer */
.footer-layout {
  width: 35%;
  margin: 0 auto;
  padding-top: 50px;
}

.footer-p {
  text-align: center;
  color: var(--quinary-color);
}
