* {
  font-family: Arial, Helvetica, sans-serif;
}

.login-page-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 4em;
}

.outer-color-container {
  height: 25em;
  margin-left: 30px;
  padding-right: 2px;
  box-shadow: 0 10px 15px rgba(20, 20, 20, 0.15);
}

.pcr-button {
  margin-top: 0.5em;
  margin-left: 0.5em;
  opacity: 0.5;
}

.generate-btn {
  position: relative;
  top: 4em;
  left: 2em;
  outline: rgb(122, 131, 150);
}

div {
  display: inline-block;
}

.primary-color-container {
  background-color: aqua;
  height: 40%;
  transition: 0.5s;
  animation: 1s forwards 0s ease;
}

.secondary-color-container {
  background-color: rgb(83, 151, 151);
  height: 40%;
  transition: 0.5s;
  animation: 1s forwards 0s ease;
}

.tertiary-color-container {
  background-color: rgb(11, 221, 134);
  height: 40%;
  transition: 0.5s;
  animation: 1s forwards 0s ease;
}

.quaternary-color-container {
  background-color: rgb(144, 172, 23);
  height: 40%;
  transition: 0.5s;
  animation: 1s forwards 0s ease;
}

.quinary-color-container {
  background-color: rgb(33, 202, 202);
  height: 40%;
  transition: 0.5s;
  animation: 1s forwards 0s ease;
}

.color-picker-background {
  background: rgb(0 4 6 / 25%) !important;
  height: 2.5em;
  width: 10em;
}

.color-picker-hex {
  margin-left: 5em;
  position: relative;
  top: -1.3em;
  left: -2em;
  color: #fff;
}

/* Login page */

.login-page-title {
  font-family: "Nunito", sans-serif;
  font-size: 45px;
  color: #7b756df6;
}

.login-page-description {
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  color: #7b756df6;
}

.login-page-btn {
  float: left;
  background: #4bc2c9;
  color: white;
  padding: 5px 45px;
  margin: 0.5% 0% 0.5% 0.5%;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  box-shadow: 0 10px 15px rgba(20, 20, 20, 0.15);
}

.signup-btn {
  float: left;
  background: white;
  color: #4bc2c9;
  padding: 5px 45px;
  margin: 0.5% 0% 0.5% 0.5%;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  box-shadow: 0 10px 15px rgba(20, 20, 20, 0.15);
}

.login-page-body {
  background: white;
  color: white;
}

.login-form {
  margin: 40px 0;
}

.box {
  height: 50em;
  width: 18em;
  padding: 40px;
  background: rgb(245, 244, 244);
  box-sizing: border-box;
}

.box h2,
.box h3 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.box .inputBox {
  position: relative;
  padding-top: 10px;
}

.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: grey;
  letter-spacing: 1px;
  margin: 30px 0px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: grey;
  pointer-events: none;
  transition: 0.5s;
  animation: LabelOnLoad 1s forwards 0s ease;
}

/* Media Queries */

@media only screen and (max-width: 3840px) {
  .logo {
    margin-right: 10px;
    padding-left: 50px;
    margin-right: 1800px;
    font-size: 24px;
  }

  .nav-bar-item {
    /* font-size: 16px; */
    margin: 35px 20px 20px 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .box {
    margin-left: 500px;
  }
}

@media only screen and (max-width: 2560px) {
  .logo {
    margin-right: 10px;
    padding-left: 50px;
    margin-right: 1200px;
    font-size: 24px;
  }

  .nav-bar-item {
    /* font-size: 16px; */
    margin: 35px 20px 20px 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .box {
    margin-left: 250px;
  }
}

@media only screen and (max-width: 1920px) {
  .logo {
    margin-right: 10px;
    padding-left: 50px;
    margin-right: 650px;
    font-size: 24px;
  }

  .nav-bar-item {
    /* font-size: 16px; */
    margin: 35px 20px 20px 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .box {
    margin-left: 150px;
  }
}

@media only screen and (max-width: 1500px) {
  .logo {
    margin-right: 800px;
    padding-left: 10px;
    font-size: 14px;
  }

  .nav-bar-item {
    font-size: 12px;
    margin: 32.5px 20px 20px 0;
    padding-left: 15px;
  }

  .box {
    margin-left: 75px;
  }
}

@media only screen and (max-width: 1280px) {
  .logo {
    margin-right: 450px;

    padding-left: 10px;
    font-size: 14px;
  }

  .nav-bar-item {
    font-size: 12px;
    margin: 32.5px 20px 20px 0;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  .logo {
    margin-right: 250px;

    padding-left: 10px;
    font-size: 14px;
  }

  .nav-bar-item {
    font-size: 12px;
    margin: 32.5px 20px 20px 0;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    margin-right: 10px;
    padding-left: 10px;
    font-size: 14px;
  }

  .nav-bar-item {
    font-size: 12px;
    margin: 32.5px 20px 20px 0;
    padding-left: 15px;
  }

  .logo {
    display: none;
  }

  .nav-bar-item {
    font-size: 12px;
    margin: 32.5px 20px 20px 0;
    padding-left: 15px;
  }

  .login-page-grid {
    grid-template-columns: 3fr 1fr;
  }

  .outer-color-container {
    margin-left: 0;
    width: 100%;
    padding-right: 0;
  }

  .primary-color-container {
    height: 20%;
  }

  .secondary-color-container {
    height: 20%;
  }

  .tertiary-color-container {
    height: 20%;
  }

  .quaternary-color-container {
    height: 20%;
  }

  .quinary-color-container {
    height: 20%;
  }

  .login-page-btn {
    margin: 0 auto;
    text-align: center;
  }

  .generate-btn {
    left: 0%;
  }

  .login-page-title {
    text-align: center;
    padding-bottom: 20px;
  }

  .login-page-description {
    text-align: center;
  }

  .login-page-btn {
    float: none;
    margin: 0 auto;
  }

  .div {
    width: 100%;
  }

  .login-container {
    width: 100%;
  }

  .box {
    height: 35em;
    padding-top: 0;
  }

  footer {
    font-size: 8px;
  }
}

@media only screen and (max-width: 480px) {
  .logo {
    display: none;
  }
  .nav-bar-item {
    font-size: 8px;
    margin: 20px 5px 20px 0;
    padding-left: 15px;
  }

  .login-page-grid {
    grid-template-columns: 1fr;
    width: 100vw;
  }

  .outer-color-container {
    margin-left: 0;
    width: 100%;
    padding-right: 0;
  }

  .primary-color-container {
    height: 20%;
  }

  .secondary-color-container {
    height: 20%;
  }

  .tertiary-color-container {
    height: 20%;
  }

  .quaternary-color-container {
    height: 20%;
  }

  .quinary-color-container {
    height: 20%;
  }

  .login-page-btn {
    margin: 0 auto;
    text-align: center;
  }

  .generate-btn {
    left: 0%;
  }

  .login-page-title {
    text-align: center;
    padding-bottom: 20px;
  }

  .login-page-description {
    text-align: center;
  }

  .login-page-btn {
    float: none;
    margin: 0 auto;
  }

  .div {
    width: 100%;
  }

  .login-container {
    width: 100%;
  }

  .box {
    height: 35em;
    margin: 0;
  }

  footer {
    font-size: 8px;
  }
}
@media (max-width: 300px) {
  .logo {
    display: none;
  }

  .nav-bar-item {
    font-size: 8px;
    margin: 20px 5px 20px 0;
    padding-left: 15px;
  }

  .login-page-grid {
    grid-template-columns: 1fr;
  }

  .outer-color-container {
    margin-left: 0;
    margin-right: -6px;
    padding-right: 0;
  }

  .primary-color-container {
    height: 20%;
  }

  .secondary-color-container {
    height: 20%;
  }

  .tertiary-color-container {
    height: 20%;
  }

  .quaternary-color-container {
    height: 20%;
  }

  .quinary-color-container {
    height: 20%;
  }

  .login-page-btn {
    margin: 0 auto;
    text-align: center;
  }

  .generate-btn {
    left: 50%;
    margin-bottom: 500px;
  }

  .login-page-title {
    text-align: center;
    padding-bottom: 20px;
  }

  .login-page-description {
    text-align: center;
  }

  .login-page-btn {
    float: none;
    margin: 0 auto;
  }

  .box {
    height: 35em;
    margin: 0;
  }

  footer {
    font-size: 8px;
  }
}
