.side-bar-container {
  height: 100vh;
  width: 200px;
  float: right;
}

.side-bar {
  text-align: right;
  background-color: #fff;
}

.fa-save {
  float: left;
  margin-left: 25%;
  padding-bottom: 75px;
}

.fa-heart {
  float: left;
  margin-left: 33%;
  padding-top: 75px;
  cursor: pointer;
}

.fa-heart:hover {
  color: red;
}

.fa-save:hover {
  color: navy;
}

.fa-save {
  float: left;
  margin-left: 33%;
  padding-top: 50px;
  cursor: pointer;
}

.red-heart {
  color: red;
}

.blue-save {
  color: navy;
}

.export {
  width: 100px;
  float: left;
  margin: 30%;
  margin-top: 50vh;
  cursor: pointer;
}

.css-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: rgba(0,0,0,0.4);  */
}

.css-modal-content {
  display: block;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 30%;
  height: 30%;
  text-align: center;
}

.css-export-btn,
.api-export-btn:hover {
  cursor: pointer;
}

/* api modal */
.api-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: rgba(0,0,0,0.4);  */
}
.api-modal-content {
  display: block;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 30%;
  height: 30%;
  text-align: center;
}

.css-textarea {
  width: 90%;
  height: 50%;
  border: 1px solid lightgray;
}

.copy-btn p {
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 10px 40px;
  margin: 0 20px;
}

.api-textarea {
  width: 90%;
  height: 50%;
  border: 1px solid lightgray;
}
