.side-bar-container {
  height: 100vh;
  width: 200px;
  float: right;
  background-color: gray;
}

.side-bar {
  text-align: right;
}

/* .export-img {
  width: 100px;
  float: left;
  margin-left: 25%;
  padding-top: 100vw;
}
.heart-img {
  width: 100px;
  float: left;
  margin-left: 25%;
} */

.fa-file-export {
  float: left;
  margin-left: 25%;
  padding-top: 100vw;
}

.fa-save {
  float: left;
  margin-left: 25%;
}
