<body class="allpalettes-body">
  <!-- CODE HERE -->
  <div class="container">
    <h1 class="user-palletes">Browse all palettes</h1>
    <div class="sub-container">
      
      
      
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/allpalettes.js"></script>
  
  <%- contentFor('navbarLogin') %>
  <% if(session.user){      %>
    <li class=""><%= session.user.name%></li>
    <li class="nav-bar-item"><a href="/palettes">Saved</a></li>
    <li class="nav-bar-item"><a href="/logout">Logout</a></li>
    <% }else {  %>
      <li class="nav-bar-item"><a href="/colors">Login</a></li>
      <% }   %>
      
</body>
