<body class="login-body">
    <div>
        <button class="login-page-btn generate-btn">Generate</button>
    </div>
    
    <main class="login-page-grid">
        
        <section class="outer-color-container">
            <section class="primary-color-container colors">
                <div class="color-picker-background">
                    <div class="primary-color-picker color-picker"></div>
                    <span class="color-picker-hex primary-hex"></span>
                </div>
            </section>
            <section class="secondary-color-container colors">
                <div class="color-picker-background">
                    <div class="secondary-color-picker"></div>
                    <span class="color-picker-hex secondary-hex"></span>
                </div>
            </section>
            <section class="tertiary-color-container colors">
                <div class="color-picker-background">
                    <div class="tertiary-color-picker"></div>
                    <span class="color-picker-hex tertiary-hex"></span>
                </div>        
            </section>
            <section class="quaternary-color-container colors">
                <div class="color-picker-background">    
                    <div class="quaternary-color-picker"></div>
                    <span class="color-picker-hex quaternary-hex"></span>
                </div>    
            </section>
            <section class="quinary-color-container colors">
                <div class="color-picker-background">    
                    <div class="quinary-color-picker"></div>
                    <span class="color-picker-hex quinary-hex"></span>
                </div>
            </section>
        </section>

        <section class="login-container">
            <div class="box">
                <h1 class="login-page-title">Login</h1>
                <p class="login-page-description">Login to view/save your color palettes</p>
                <form action="" method="" class="login-form">
                    <div class="inputBox">
                        <input type="text" name="email" required="" class="login-email">
                        <label for="">Email</label>
                    </div>
                    <div class="inputBox">
                        <input type="password" name="password" required="" class="login-password">
                        <label for="">Password</label>
                    </div>
                    <input type="submit" name="" value="Log in" class="login-page-btn login-btn">  
                </form>
                <button class="signup-btn">Sign up</button>
            </div> 
            
        </section>  

        <section class="signup-container">
            <div class="box">
                <h1 class="login-page-title">Sign up</h1>
                <p class="login-page-description">Signup to view/save your color palettes</p>
                <form action="" method="" class="login-form">
                    <div class="inputBox">
                        <input type="text" name="name" required="" class="signup-name">
                        <label for="">Name</label>
                    </div>
                    <div class="inputBox">
                        <input type="text" name="email" required="" class="signup-email">
                        <label for="">Email</label>
                    </div>
                    <div class="inputBox">
                        <input type="password" name="password" required="" class="signup-password">
                        <label for="">Password</label>
                    </div>
                    <input type="submit" name="" value="SIGN UP" class="signup-page-btn">  
                </form>
                <p class="signup-msg"></p>
            </div> 
        </section> 

    </main>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/signup.js"></script>
    <script src="/js/auth_switch.js"></script>
</body>

<%- contentFor('navbarLogin') %>
<% if(session.user){      %>
<li class=""><%= session.user.name%></li>
<li class="nav-bar-item"><a href="/palettes">Saved</a></li>
<li class="nav-bar-item"><a href="/logout">Logout</a></li>
<% }else {  %>
<li class="nav-bar-item"><a href="/colors/login">Login</a></li>
<% }   %>

