<link rel="stylesheet" href="./css/palletes.css" />
<!-- CODE HERE -->
<div class="container">
  <h1 data-userid=<%= session.user.id%> id="useridpalletspg" class="user-palletes"><%= session.user.name %>'s Saved Palettes</h1>
  <div class="sub-container">
    <!-- IF FAVORITE palette EXISTS -->
    <!-- <div class="gradient-border">
      <div class="pallete-div favorite-pallete">
        <div class="primary-color">
          <input class="primary-input placeholder="123ABC" />
        </div>
        <div class="secondary-color">
          <input class="secondary-input" placeholder="123ABC" />
        </div>
        <div class="tertiary-color">
          <input class="tertiary-input" placeholder="123ABC" />
        </div>
        <div class="quaternary-color">
          <input class="quaternary-input" placeholder="123ABC" />
        </div>
        <div class="quinary-color">
          <input class="quinary-input" placeholder="123ABC" />
        </div>

        <div class="pallete-img">
          <img class="export-img" src="./img/export.png" alt="" />
        </div>
        <div class="export-container hidden">
          <ul class="export-container-ul">
            <li><a href="">Save</a></li>
            <li><a href="">Favorite</a></li>
            <li><a href="">Export</a></li>
          </ul>
        </div>
      </div>
    </div> -->
    <!-- END -->

  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/palletes.js"></script>

<%- contentFor('navbarLogin') %>
<% if(session.user){      %>
<li class=""><%= session.user.name%></li>
<li class="nav-bar-item"><a href="/palettes">Saved</a></li>
<li class="nav-bar-item"><a href="/logout">Logout</a></li>
<% }else {  %>
<li class="nav-bar-item"><a href="/colors">Login</a></li>
<% }   %>
